* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
  }
#parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
  }