* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.navbar {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fafafa;
}

.navbar img {
  height: 40px;
}
i {
  font-size: 150%;
}

.main {
  height: 88vh;
}
.main h1 {
  text-align: center;
  color: #ed6e6e;
}

.footer {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #dbdbdb;
  background-color: #fafafa;
}
